
<body>
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
		<div class="alert alert-danger alert-dismissible fade" style="position: fixed;z-index: 100; top:8rem; right:1rem; "
    id="cartAddedMessage" role="alert">
    <strong>Product out of stock <i class="fa-solid fa-square-check"></i> </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{#if cartEmpty}}

<div class="text-center">	
<img style="height:35rem;" src="/images/cart.jpg"  class="img-fluid"alt="">
</div>
{{else}}
	<!-- cart -->
	<div class="cart-section mt-5 mb-5">
		<div class="container">
			<div class="row">
				<div class=" col-md-12 col-lg-8">
					{{#each cart}}
					<h5 class="mb-2 text-danger" id="max{{this.products._id}}"></h5>
					{{/each}}
					<div class="cart-table-wrap">
						<table class="cart-table col-sm-table-responsive">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Options</th>
								</tr>
							</thead>
							<tbody>
								{{#each cart}}
								<tr class="table-body-row">
									
									<td class=""><img style="width:100px;height:80px;" src="/product-images/{{this.products._id}}.jpg" alt=""></td>
									<td class="product-name">{{this.products.name}}</td>
									<td class="product-price">{{this.products.price}}</td>
									<td style="height:120px ;"class=" col-12 product-quantity d-flex justify-content-center align-items-center "><button id="minus{{this.products._id}}"  style="height:27px;" style="border:none;" class="bg-primary  text-white stable ml-2"  onclick="quantitychange('{{this._id}}','{{this.products._id}}',-1)">--</button><p id="{{this.products._id}}" class="pt-4 mx-3 quantity">{{this.quantity}}</p ><button style="height:27px;border-style:none;width:25px;" class=" bg-primary  text-white mr-2" onclick="quantitychange('{{this._id}}','{{this.products._id}}',1)">+</button>
									</td>
									{{!--  --}}
									
									{{!--  --}}
									<td class="product-total">
									 <a  onclick="return removeitem('{{this._id}}','{{this.products._id}}')"  ><i class="fa-sharp fa-solid fa-xmark"></i>  </a> 
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
		
	

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td ><i class="fa fa-rupee pr-1"></i><span id="subtotal">{{totalAmount}}/-</span></td>
								</tr>
								<tr class="total-data">
									<td ><strong>Shipping Charges:  </strong></td>
									<td ><i class="fa fa-rupee pr-1"></i>/-</td>
								</tr>
								<tr class="total-data">
									<td id="discount"><strong>Total: </strong></td>
									<td ><i class="fa fa-rupee pr-1"></i><span id="total">{{totalAmount}}/-</span></td>
								</tr>
							</tbody>
		 				</table>
						<div class="cart-buttons">
							<a href="/checkout" class="boxed-btn black">Check Out</a>
						</div>
					</div>

				
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

	<!-- logo carousel -->
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/images/adidas.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/Asics.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/nb.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/nike.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/puma.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	
{{/if}}

</body>
