
<body class="bg-dark gradient-custom imagesh h-75" >
  <div class="container py-md-5 py-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border:none;">
          <div class="card-body p-4 p-sm-2 text-center">
           
          <div class="col-12 mt-md-5 pb-2">
             
               {{#if admin}}
                <form action="/admin/" id="adminlogin" method="POST">
                {{else}}
                <form action="/login" id="userlogin" method="POST">
              <h2 class="fw-bold mb-2 text-success text-uppercase">Login</h2>
                  <p class="text-white mb-md-5 mb-1">Please enter your email and password!</p>
          
             {{/if}}
           <p class="text-success">{{relogin}}</p>
              <div class="form-outline form-white mb-4">
                  <p class="text-danger" id="err"></p>
             
                <label class="form-label" for="typeEmailX">Email</label>
                <input type="email"   name="email" id="email" class="form-control form-control-lg" >
                <p class="text-danger" id="emailerr"></p>
             
              </div>

              <div class="form-outline form-white mb-md-4 mb-1">
                <label class="form-label" for="typePasswordX">Password</label>
                <input type="password" name="password" id="password" class="form-control form-control-lg" >
               <p class="text-danger" id="passerr"></p>
              </div>
               <p class="text-danger">{{loginerr}}</p>

              {{!-- <p class="small mb-2 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> --}}
{{#if admin}}
{{else}}
<p class="small mb-md-3 mb-1 pb-lg-2 "><a class="text-white" href="/otplogin">Login with OTP</a></p>
         {{/if}}
              <button class="btn btn-outline-light btn-lg px-5 " type="submit">Login</button>
 {{#if admin}}
 {{else}}
             

            </div> 
 
           
             
              
            
              <p class="mb-3 text-white">Don't have an account? <a href="/signup" style="text-decoration:underline ;" class="text-white fw-bold">Sign Up</a>
              </p>
              {{/if}}
             </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $('#userlogin').submit((e)=>{
    let email=$('#email').val()
     let password=$('#password').val()
     let err=[]
     let emailerr=[]
     let passerr=[]
     if(email=='' || password==''){
      err.push("All fields required")
     }
     else if(email){
	
		 var emailed =  /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var validEmail = emailed.test(email);
      if (!validEmail) {
       emailerr.push('Enter valid email')
      }
     }
     if(err.length>0 || emailerr.length>0){
      e.preventDefault()
      $('#err').html(err.join(','))
       $('#emailerr').html(emailerr.join(','))
     }
     

  })
   $('#adminlogin').submit((e)=>{
    let email=$('#email').val()
     let password=$('#password').val()
     let err=[]
     let emailerr=[]
     let passerr=[]
     if(email=='' || password==''){
      err.push("All fields required")
     }
     else if(email){
	
		 var emailed =  /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var validEmail = emailed.test(email);
      if (!validEmail) {
       emailerr.push('Enter valid email')
      }
     }
     if(err.length>0 || emailerr.length>0){
      e.preventDefault()
      $('#err').html(err.join(','))
       $('#emailerr').html(emailerr.join(','))
     }
     

  })
</script>