	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						
						<h1>Product-Details</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-5">
		<div class="container">
			<div class="row">
             	<div class="col-md-5">
					<div class="single-product-img " >
						<div class="" id="img-container">
						<img onmouseenter="" onfocus="hidetext()" onmouseout="showtext()" style="height:28rem;width:28rem;"src="/product-images/{{result._id}}.jpg" alt="">
					</div>
					</div>
				</div>
				<div class="col-md-7 cardesh">
					<div class="single-product-content 	 " >
						<h2>{{result.name}}</h2>
						<p class="single-product-pricing"><span>Per Piece</span><i class="fa fa-rupee pr-1"></i>{{result.price}} /-</p>
						<p>{{result.description}}</p>
					<p class="text-danger pb-3">Hurry...only {{result.stock}} items left !</p>
						<div class="single-product-form  ">
					{{#if wishPresent}}
				 <a id="wish" style="color:red;" onclick="return addwish('{{result._id}}')" class="mx-5 "> 
						<i class="fa-solid fa-heart fa-lg " title="Add to wishlist"></i>
						

						 </a>	
					{{else}}
						 <a id="wish" onclick="return addwish('{{result._id}}')" class="mx-5 "> 
						<i class="fa-solid fa-heart fa-lg" title="Add to wishlist"></i>
						

						 </a>	
						 {{/if}} 
						<a  class="cart-btn"	  onclick= "return addtocart('{{result._id}}')"  class="carthover"><i class="fas fa-shopping-cart"></i> Add to Cart	</a>
			
						</div>
						<div></div>
								
						<h4>Share:</h4>
						<ul class="product-share">
								<li><a href="https://www.facebook.com/rakku.rakeeb" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							
							<li><a href="https://www.instagram.com/rakkucha_dana/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/mohd-rakeeb-43a375257/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://github.com/RakeebMohammed" target="_blank"><i class="fab fa-github"></i></a></li>
							
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->
	
	
	<div class="mx-3 product-section mt-5  " style="background-color: #ecfdff;;">
		<div class="container">
			<div class="pt-4 mb-4"><h4 class="f-5  " style="text-decoration: underline;">Related Items</h4>
				</div>
		
			
			<div class="row">
				{{#each products}}
				<div class="col-lg-4 col-md-4 text-center {{#if nostock}} outofstock {{else}} {{/if}}">

					<div style="height:35rem;" class="single-product-item  " id="bodyesh">
						
						
	{{!-- {{#ifCond  this.category ../coupon.category}}  <h6 class="vc">Offer</h6>{{/ifCond}} --}}
	  {{#if offer}}<h6 class="vc">{{this.discount}}% Off</h6>{{/if}}
						{{#if nostock}}
						<div class="product-image">
							
							<img style="height:250px;" class="imageZoom" src="/product-images/{{this._id}}.jpg" alt="">
						</div>
					{{else}}	<div class="product-image">
							
							<a  href="/viewproduct/{{this._id}}"><img style="height:250px;" class="imageZoom" src="/product-images/{{this._id}}.jpg" alt=""></a>
						</div>
						{{/if}}
						<h3 class="col-12 text-truncate mb-2">{{this.name}}</h3>
<s><h4 class="mrp hide p-0 m-0">{{this.MRP}}</h4></s>
						
					
						<p class="product-price m-0 p-0 price">{{this.price}} </p>
					
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		</div></div>
					
				
			
	
<!-- logo carousel -->
	
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/images/adidas.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/Asics.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/nb.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/nike.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/images/puma.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- end logo carousel -->
	<div class="alert alert-success alert-dismissible fade" style="position: fixed;z-index: 100; top:8rem; right:1rem; "
    id="cartAddedMessage" role="alert">
    <strong>Item added to <a href="/wishlist">Wishlist</a> <i class="fa-solid fa-square-check"></i> </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-primary alert-dismissible fade" style="position: fixed;z-index: 100; top:8rem; right:1rem; "
    id="wishExistsMessage" role="alert">
    <strong>Item already exists in <a href="/wishlist">Wishlist</a> <i class="fa-solid fa-square-check"></i> </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
	{{!--  --}}
	<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>


<script>
    console.log("hi")
    var options = {
    width: 450, // required
    zoomWidth: 20,
    scale: 1.,
	
    
};
new ImageZoom(document.getElementById("img-container"), options);

</script>
	{{!--  --}}
	<script>
		function addwish(proId){
			$.ajax({
				url:'/addtowishlist/'+proId,
				method:'get',
				success:(result)=>{
					console.log(result.nouser)
					if(result.status)
					{
					console.log('helo')	
 $('#cartAddedMessage').addClass('show')
                console.log('helo')
                setTimeout(() => {
                    $('#cartAddedMessage').removeClass('show')
                }, 4000)
      document.getElementById('wish').style.color="red"
					}
					
					
					
					else if(result.exists){
$('#wishExistsMessage').addClass('show')
                console.log('helo')
                setTimeout(() => {
                    $('#wishExistsMessage').removeClass('show')
                }, 4000)
					}
					else {
						console.log('ksdghfkgsdkjf')
						window.location.replace('/login')
					}
				}
			})
		}
		function hidetext(){
		//	$('#cardesh').hide()
			document.getElementById('cardesh').style.display="none"
	
		}
		function showtext(){
			$('#cardesh').show()
	//document.getElementById('bann').style.color="green"
	
		}
		let price=document.querySelectorAll('.price')
	let mrp=document.querySelectorAll('.mrp')

	for(i=0;i<price.length;i++){
		if(price[i].innerText != mrp[i].innerText){
		
			mrp[i].style.display="block";
	
		}
	}
	</script>